<div class="card border-dark mb-3" style="max-width:12rem;">
    <div class="text-center">
        <div class="card-header">@Day</div>
        <div class="card-body">
        <h5>@tempMin / @tempMax</h5>
        <p class="card-text">@sumary</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public String Day { get; set; }
    [Parameter]
    public float tempMax { get; set; }
    [Parameter]
    public float tempMin { get; set; }
    [Parameter]
    public string sumary { get; set; }
}
